In [1]:
import pandas as pd
uber_data=pd.read_csv("Uber.csv")
uber_data.head()
#pd.read_excel("filename.xlsx")

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [2]:
print(uber_data.shape)

(1156, 7)

In [6]:
print(uber_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB
None

In [4]:
print(uber_data.describe())

             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [5]:
print(uber_data.isnull().sum())

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

In [7]:
print(uber_data.sep())

AttributeError: 'DataFrame' object has no attribute 'sep'

In [8]:
print(uber_data.sep)

AttributeError: 'DataFrame' object has no attribute 'sep'

In [14]:
#sep,dtype,skiprows,nrows,na_values
import pandas as pd
df=pd.read_csv(
    "uber.csv",
    sep=",",
    dtype={"Age":int},
    skiprows=1,
    nrows=5,
    na_values=["NA","Unknown"]
)
print(df)

   1/1/2016 21:11  1/1/2016 21:17  Business      Fort Pierce    Fort Pierce.1  \
0   1/2/2016 1:25   1/2/2016 1:37  Business      Fort Pierce      Fort Pierce
1  1/2/2016 20:25  1/2/2016 20:38  Business      Fort Pierce      Fort Pierce
2  1/5/2016 17:31  1/5/2016 17:45  Business      Fort Pierce      Fort Pierce
3  1/6/2016 14:42  1/6/2016 15:49  Business      Fort Pierce  West Palm Beach
4  1/6/2016 17:15  1/6/2016 17:19  Business  West Palm Beach  West Palm Beach

    5.1   Meal/Entertain
0   5.0              NaN
1   4.8  Errand/Supplies
2   4.7          Meeting
3  63.7   Customer Visit
4   4.3   Meal/Entertain

In [21]:
#print(uber_data())
##print(uber_data.iloc[0])
#print(uber_data.iloc[2,8])
print(uber_data.iloc[20:41, :3])

        START_DATE*        END_DATE* CATEGORY*
20  1/12/2016 15:13  1/12/2016 15:28  Business
21  1/12/2016 15:42  1/12/2016 15:54  Business
22  1/12/2016 16:02  1/12/2016 17:00  Business
23  1/13/2016 13:54  1/13/2016 14:07  Business
24  1/13/2016 15:00  1/13/2016 15:28  Business
25  1/14/2016 16:29  1/14/2016 17:05  Business
26  1/14/2016 21:39  1/14/2016 21:45  Business
27   1/15/2016 0:41   1/15/2016 1:01  Business
28  1/15/2016 11:43  1/15/2016 12:03  Business
29  1/15/2016 13:26  1/15/2016 13:44  Business
30  1/18/2016 14:55  1/18/2016 15:06  Business
31  1/18/2016 16:13  1/18/2016 16:24  Business
32   1/19/2016 9:09   1/19/2016 9:23  Business
33  1/19/2016 10:55  1/19/2016 11:09  Business
34  1/20/2016 10:36  1/20/2016 11:11  Business
35  1/20/2016 11:48  1/20/2016 12:19  Business
36  1/20/2016 13:25  1/20/2016 14:19  Business
37  1/21/2016 14:25  1/21/2016 14:29  Business
38  1/21/2016 14:43  1/21/2016 14:51  Business
39  1/21/2016 16:01  1/21/2016 16:06  Business
40  1/26/2016 10:41  1/26/2016 10:50  Business

In [26]:
print(uber_data.iloc[:,2:6])

     CATEGORY*            START*             STOP*   MILES*
0     Business       Fort Pierce       Fort Pierce      5.1
1     Business       Fort Pierce       Fort Pierce      5.0
2     Business       Fort Pierce       Fort Pierce      4.8
3     Business       Fort Pierce       Fort Pierce      4.7
4     Business       Fort Pierce   West Palm Beach     63.7
...        ...               ...               ...      ...
1151  Business           Kar?chi  Unknown Location      3.9
1152  Business  Unknown Location  Unknown Location     16.2
1153  Business        Katunayake           Gampaha      6.4
1154  Business           Gampaha         Ilukwatta     48.2
1155       NaN               NaN               NaN  12204.7

[1156 rows x 4 columns]

In [ ]:
read csv  ,excel